* {
    text-align: center;
}

#board {
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid white;
    background: #6bbd8d;
    width: 16px;
    height: 16px;
    text-align: center;
}

.clicked {
    background: #7167c8;
}

.mine {
    background: #c96a6a;
}

td:hover {
    background: #2f6e41;
}

.changered{
    background: #c96a6a;    
}
.changere{
    background:#6bbd8d;
}